@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-color: #070029;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h2 {
  font-family: "Jua", sans-serif;
  font-size: 5rem;
  color: white;
}

button {
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

/* ////////////// NAVBAR ////////////// */
.navbar nav {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #070029;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}

.navbar img {
  width: 4rem;
  height: 3rem;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.link, .navLinks a {
  text-decoration: none;
  font-size: 0.94rem;
  color: white;
  font-weight: bold;
  padding: 0.375rem 1rem;
  transition: ease-in-out .5s;
}

.link:hover, .navLinks a:hover, .socialsBtn:hover {
  background-color: white;
  border-radius: 3.125rem;
  color: #070029;
}

.socialsBtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.375rem 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: ease-in-out .5s;
}

.socialDropdown {
  position: fixed;
  border-radius: 0.5rem;
  background-color: #183153;
  padding: 1rem;
  width: auto;
  right: 1rem ;
  top: 5.3rem;
  z-index: 1000;
  cursor: pointer;
}

.socialDropdown a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navBtn {
  color: #CCE1FE;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.mobileMenu {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1rem 0;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 3;
  left: -15rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  transition: left 0.5s ease-in-out;
}

.mobileMenu a {
  padding: 0 2rem;
  text-decoration: none;
  font-family: "Jua", sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: black;
  font-weight: bold;
}

.closeMenu {
  display: flex;
  justify-content: flex-end;
}

.closeMenu i{
  font-size: 1.5rem;
  cursor: pointer;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 0.1rem;
}

.closeMenu i:hover{
  background-color: #f0f5fb;
}

.menuSocials {
  display: flex;
  justify-content: flex-start;
}

.menuSocials a {
  padding: 0;
}

/* ////////////// TOP CONTAINER ////////////// */
.topContainer {
  border-radius: 2rem;
  margin: 7rem 1.5rem 2rem;
}

.topContainer video {
  width: 100%;
  max-width: 100%;
  border-radius: 2rem;
  height: auto;
}

/* ////////////// MARQUEE ////////////// */
.marquee {
  margin-bottom: 7rem;
}

.marqueeContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
  padding: 1rem;
  margin-right: 3rem;
}

.marqueeContent p {
  font-size: 1.5rem;
  font-family: "Jua", sans-serif;
}

/* ////////////// ABOUT ////////////// */
.about {
  padding: 0 3rem;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.aboutImg {
  background-color: #FFAAFD;
  border-radius: 2rem;
}

.aboutImg img {
  margin-bottom: -2rem;
}

.about h4 {
  color: #FFDA17;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.about p {
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 2rem;
  word-spacing: 0.5rem;
}

/* ////////////// TOKENOMICS ////////////// */
.tokenomics {
  margin: 7rem 1.5rem;
}

.tokenomics h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.tokenomicsDetails {
  background-color: #CCE1FE;
  border-radius: 2rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.tokenomicsDetails img {
  margin-top: -12rem;
}

.tokenomicsText {
  width: 100%;
}

.ticker {
  padding: 0.5rem 1rem ;
  border-radius: 3rem;
  background-color: #FF41C1;
  color: white;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.tokenSupply {
  color: #FF41C1;
  font-size: 1.2rem;
  font-weight: bold;
}

.tokenSupplyFigure {
  font-family: "Jua", sans-serif;
  color: #FF41C1;
  font-size: 5.5rem;
}


.tokenomicsText ul li {
  font-size: 1.2rem;
  line-height: 2rem;
}

.contractAddress {
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.caText {
  font-family: "Jua", sans-serif;
  font-size: 1.5rem;
}

.ca {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

/* ////////////// ROADMAP ////////////// */
.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #C86FFF;
  border-radius: 3rem 3rem 0 0;
}

.roadmap p {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

/* ////////////// FOOTER ////////////// */
.footer  {
  background-color: #A1DDFF;
  padding: 2.5rem 3rem;
}

.footerFlex {
  display: flex;
  justify-content: space-between;

}

footer p {
  font-size: 1rem;
  font-weight: bold;
}

.quickLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quickLinks h3 {
  margin-bottom: 0.5rem;
}

.quickLinks a {
  text-decoration:  none;
  font-size: 1rem;
  color: #070029;
  transition: ease-in-out 0.5s ;
}

.quickLinks a:hover {
  color: white;
}

.disclaimer {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #FF41C1;
}

.disclaimer p {
  color: #FF41C1;
  font-size: 1.2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}





/* ///////////////////// MEDIA RESPONSIVENESS ///////////////////// */

@media (max-width:1000px) {
  /* ////////////// ABOUT ////////////// */
  .about, .tokenomicsDetails, .roadmap {
    flex-direction: column;
    align-items: center;
  }

  .about h2, .about h4, .about p {
    text-align: center;
  }

  /* ////////////// TOKENOMICS ////////////// */
  .tokenomicsDetails img {
    margin-top: 0;
  }

  .ticker {
    text-align: center;
    margin: 0 auto;
  }
  
  .tokenSupply, .tokenSupplyFigure {
    text-align: center;
  }
  
  .tokenomicsText ul {
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* ////////////// ROADMAP ////////////// */
  .roadmap {
    gap: 3rem;
  }

  .roadmap h2, .roadmap p {
    text-align: center;
  }

  /* ////////////// FOOTER ////////////// */
  .footerFlex {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }

  .disclaimer p {
    text-align: center;
  }
}

@media (max-width:750px) {
  h2 {
    font-size: 3rem;
  }

  /* ////////////// NAVBAR ////////////// */
  .navLinks, .socialsBtn {
    display: none;
  }

  .navBtn {
    display: block;
  }

  .mobileMenu.active {
    left: 0;
  }

  .tokenSupplyFigure {
    font-size: 3rem;
  }


  
}

















/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
