@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-color: #070029;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h2 {
  font-family: "Jua", sans-serif;
  font-size: 5rem;
  color: white;
}

button {
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

/* ////////////// NAVBAR ////////////// */
.navbar nav {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #070029;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}

.navbar img {
  width: 4rem;
  height: 3rem;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  font-size: 0.94rem;
  color: white;
  font-weight: bold;
  padding: 0.375rem 1rem;
  transition: ease-in-out .5s;
}

.link:hover, .socialsBtn:hover {
  background-color: white;
  border-radius: 3.125rem;
  color: #070029;
}

.socialsBtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.375rem 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: ease-in-out .5s;
}

.socialDropdown {
  position: fixed;
  border-radius: 0.5rem;
  background-color: #183153;
  padding: 1rem;
  width: auto;
  right: 1rem ;
  top: 5.3rem;
  z-index: 1000;
  cursor: pointer;
}

.socialDropdown a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}



/* ////////////// TOP CONTAINER ////////////// */
.topContainer {
  border-radius: 2rem;
  margin: 7rem 1.5rem ;
}

.topContainer video {
  width: 100%;
  max-width: 100%;
  border-radius: 2rem;
  height: auto;
}

/* ////////////// ABOUT ////////////// */
.about {
  padding: 0 3rem;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.aboutImg {
  background-color: #FFAAFD;
  border-radius: 2rem;
}

.aboutImg img {
  margin-bottom: -2rem;
}

.about h4 {
  color: #FFDA17;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.about p {
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 2rem;
  word-spacing: 0.5rem;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
